---
import PhotoRotatedLeft from "./PhotoRotatedLeft.astro";
import PhotoRotatedRight from "./PhotoRotatedRight.astro";
import PhotoRotatedRight2 from "./PhotoRotatedRight2.astro";



---
	<div>
    <div class = "top">
      <PhotoRotatedRight />
    </div>
    <div class = "middle">
      <PhotoRotatedLeft  /> 
    </div>
    <div class = "bottom">
      <PhotoRotatedRight2 />
    </div>
  </div>
	

<style>
  
    div {
        display: grid;
        justify-content: center;
        align-items: center;

    }
    .top {
        margin-bottom: -15%;
    }

    .bottom {
        margin-top: -15%;
    }

</style>
