---
interface Props {
	rotate:string;
    imageUrl: string;
    alt: string;
}
import PhotoMontaña from './PhotoMontaña.astro';
import Pincho from './Pincho.astro';
import Ramita from './Ramita.astro';

const {rotate, imageUrl, alt} = Astro.props;
---
<div class="container">
    
    <div class="adornos">
        <div class="ramitas">
            <Ramita/>
        </div>
        <div class="pushpin">
            <Pincho/>
        </div>
    </div>
    <div class="photo">
        <PhotoMontaña/>
    </div>
</div>


<style>
    div.photo {
        display: flex;
        
        justify-content: center;
        align-items: center;


        padding: 10px;
        background-color: var(--accent-color);
    }
    .adornos {
        width: 100%;
        display: flex;
        gap: 65%;
        position: absolute;
        z-index: 1;
        

    }
    .ramitas {
        top: 0px;
        left: 0px;
        width: 30%;
        height: 30%;
        display: flex;
        z-index: 1;
        

    }
    .pushpin {
        top: 0px;
        left: 0px;
        width: 20%;
        height: 20%;
        display: flex;
        z-index: 1;
    }
    .container {
        rotate: -10deg;
    }
</style>
