---
import MarcoImage from "../images/MarcoImage.astro";
---

  <div class = "inside" >
      <MarcoImage />
  </div>
    
  </div>
<style>
  .inside {
    display: flex;
    border: 1px solid #999999;
    border-radius: 30rem;
    overflow: hidden;
    outline: 1px solid var(--primary-color);
    border: 0.4rem solid transparent;
  }
</style>