---
import PhotoMontaña from "../images/PhotoMontaña.astro";
---
<div class = "container">
  <div class = "inside" >
      <PhotoMontaña />
  </div>
  <div class="linea">
    
  </div>
</div>  
<style>
  .inside {
    border: 1px solid #999999;
	  margin: 2%;
    width: 15rem;
    height: 25rem;
    border-radius: 8rem;
    overflow: hidden;
    outline: 3px solid var(--primary-color);
    border: 0.5rem solid transparent;
  }
  .linea {
    background: linear-gradient(45deg, #00b3b3 2%, #99CCFF 60%);
    background-size: 25px 25px;

}
</style>