---
import Button from "../basics/button.astro"
import A from "../basics/a.astro";
interface Props {
    description: string;
    place: string;
    date: string;
    maps: string;
}
const { description, place, date, maps } = Astro.props;
---
<div class = "weddingEvent">
    <div class = "weddingEventText">
        <h3 ><strong>{description}</strong> </h3>
        <p><strong>Lugar: </strong> {place}</p>
        <p><strong>Dia y Hora: </strong> {date}</p>
    </div>
    <div class = "weddingEventButton">
        <A link={maps} target="_blank">
            <Button>Ver Ubicación</Button>
        </A>
    </div>
</div>
<style>
.weddingEventText {
    text-align: center;

}
p , h3 {
    text-align: center;
    margin-block: 1px;
    line-height: 1.5em; 
    display: grid;
    grid-column: 2 / 5;
    color: var(--dark-color);
}
.weddingEvent {
    padding-block: 10%;
    margin-block: 1%;

}
strong {
    color: var(--primary-color);
    text-shadow: 1px 1px 1px rgb(85, 84, 84);
}
/* center button on grid */ 
.weddingEventButton {
    display: grid;
    grid-column: 2 / 5;
}
