---
import Layout from "../layouts/Layout.astro";


---
<Layout title="Boda de Victor y Andrea">
	<div class="container">
		<h1>404</h1>
		<p>La Invitación que buscas no existe</p>
	</div>
</Layout>


<style>
	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 50vh;
		background-color: var(--secondary-color);
		color: var(--dark-color);
	}
</style>