---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import PhotoCard from '../components/images/PhotoCard.astro';
import Intro from '../components/section/intro.astro';
import MarcoSection from '../components/section/marcoSection.astro';
import SectionOne from '../components/section/sectionOne.astro';
import SectionTwo from '../components/section/sectionTwo.astro';
import SectionThree from '../components/section/sectionThree.astro';
import SectionFour from '../components/section/sectionFour.astro';




---
<Layout title="Bienvenido a Boda victor y andrea">
	<div>
		<SectionOne />	
		<SectionTwo />
		<SectionThree />
		<SectionFour />
	</div>
	
</Layout>

<style>
div {
}


</style>
