---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import PhotoCard from '../components/images/PhotoCard.astro';
import Intro from '../components/section/intro.astro';
import MarcoSection from '../components/section/marcoSection.astro';




---
<Layout title="Voda victor y andrea">
	<div>
		<Intro />
		<MarcoSection />
	</div>
	
</Layout>

<style>
div {


}


</style>
