---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import PhotoCard from '../components/images/PhotoCard.astro';




---
<Layout title="Voda victor y andrea">
	<main>
		<Title title="!!Nos casamos!!"/>
		<div>
			<PhotoCard	/>
		</div>

	</main>
</Layout>

<style>
div {
	display: flex;
	margin: auto;
	max-width: 40%;
}

</style>
