---
---
<div class = "footer">
    <h3>Desarrollado por:</h3>
    <div class="center">
        <p>Victor Acosta</p>
        <p class="phone-number">+58 412 601 15 54</p>
        <p class="email">1victoracosta@gmail.com</p>
    </div>
</div>

<style>
    .footer {
        padding: 5%;
        line-height: 1.2em;

    }
    .center {
        margin-inline: auto;
    }
    h3 {
        text-align: center;
        color: var(--accent-color);
        margin-block: 1%;
        text-shadow: 1px 1px 1px rgb(85, 84, 84);
    }
    p {
        text-align: center;
        color: var(--accent-color);
        margin-block: 1%;
    }
    .phone-number {
        color: var(--accent-color);
        font-size: 0.7em;
    }
    .email {
        color: var(--accent-color);
        font-size:1em;
    }
</style>