---
import CircleMarco from "../marco/circleMarco.astro"
import '@fontsource/grey-qo';
import '@fontsource-variable/dancing-script';
import '@fontsource/pacifico';
import '@fontsource/sacramento';
---
<div class = "container" style={{ background: 'var(--secondary-color)' }}>
    <div class =inside>
        <h3>  Boda Victor y Andrea</h3>
        <div class="CircleMarco">
            <CircleMarco />
        </div>
    </div>
    
</div>

<style>
    .container {
        padding: 2%;
    }
    h3 { 

        text-align: center;
        margin-bottom: 1%;
    }
    .inside {
        display: grid;
        align-items: center;
    }
    .CircleMarco {
        margin-inline: auto;
        width: 40%;
        padding: 0%;

    }
    .prueba-1 {
        font-family: 'sacramento', cursive;
        font-size: 2rem;
    }
    .prueba-2 {
        font-family: 'pacifico', cursive;
        font-size: 2rem;
    }
    .prueba-3 {
        font-family: 'Dancing Script Variable', cursive;
        font-size: 2rem;
    }
    .prueba-4 {
        font-family: 'Grey Qo', cursive;
        font-size: 3rem;
    }


</style>