---
---
<div class = "sectionFour" >

</div>
<style>
    .sectionFour {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 2%;
        background:var(--secondary-color);
        background: linear-gradient(180deg, var(--secondary-color) 100%, var(--primary-color) 0%);
        height: auto
    }

</style>