---
import InstagramCarrusel from '../carrusels/instagramCarrusel.astro';
---
<div class = "sectiontrhee" >


    <div class ="center">
        <h2> Nuestras Fotos </h2>
        <InstagramCarrusel	/>
    </div>


</div>
<style>
    h2 {
        text-align: center;
        grid-column: 1 / 6;
        color: var(--secondary-color);
        text-shadow: 1px 1px 1px rgb(85, 84, 84);
        margin-block:1%;
    }
.sectiontrhee {
align-items: center;
justify-content: center;

}
.center {
position: relative;
  padding: 5%;
}
</style>
