---
import Title from '../Title.astro';
import PhotoCard from '../images/PhotoCard.astro';
---
<div class = "sectiontrhee" >
    <div class ="left">
    </div>
    <div class ="center">
        
        <PhotoCard	/>
    </div>
    <div class ="right">

    </div>

</div>
<style>
    .sectiontrhee {
        /*display grid 3 column*/ 
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        padding: 2%;
        background: var(--primary-color);
        background: linear-gradient(180deg, var(--primary-color) 80%, var(--secondary-color) 100%);
        height: auto;
        padding-bottom: 10%;
    }
    .center {
        
        grid-column: 2 / 5;
        margin-inline: auto;
        padding: 5%;
    }


</style>