---
import InstagramCarrusel from '../carrusels/instagramCarrusel.astro';
---
<div class = "sectiontrhee" >


    <div class ="center">
        <h2> Nuestra Historia </h2>
        <InstagramCarrusel	/>
    </div>


</div>
<style>
    h2 {
        text-align: center;
        grid-column: 1 / 6;
        color: var(--secondary-color);
        text-shadow: 1px 1px 1px rgb(85, 84, 84);
        margin-block:1%;
    }
.sectiontrhee {
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, var(--primary-color) 80%, var(--secondary-color) 100%);

}
.center {
position: relative;
  padding-bottom: 10%;
padding-inline: 3%;
}
</style>
