---
import WeddingEvent from "../events/weddingEvent.astro"
---
<div class = "sectionFour" >
    <h2>EVENTOS</h2>
    <div></div>
    <div class = "center">
        
        <WeddingEvent description="Boda Civil" place="Jefatura de Chacao" date="Viernes 11 de Octubre 10:00AM" maps="https://maps.app.goo.gl/ypWdohSgAVTNpj6D8">
        </WeddingEvent>
        <WeddingEvent  description="Consejos Matrimoniales" place="Salón del Reino De Los Testigos De Jehova UD5" date="Sabado 12 de Octubre 5:30PM" maps="https://maps.app.goo.gl/ypWdohSgAVTNpj6D8">

        </WeddingEvent>
        <WeddingEvent  description="Recepción" place="Salon de Fiesta Bloque 61" date="Sabado 12 de Octubre 6:00PM" maps="https://maps.app.goo.gl/ypWdohSgAVTNpj6D8">

        </WeddingEvent>  
    </div>
    <div></div>
</div>

<style>
    h2 {
        text-align: center;
        grid-column: 1 / 6;
        color: var(--primary-color);
        text-shadow: 1px 1px 1px rgb(85, 84, 84);
    }
    .sectionFour {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        padding: 2%;
        background:var(--secondary-color);
        height: auto;
    }
    .center {
        padding: 5%;
        grid-column: 2 / 5;       
    }

    p {
        text-align: center;
        color: var(--primary-color);
        margin-block: 1%;
    }

</style>