---
import '@fontsource/sacramento';
const {id} = Astro.props;
---
<button {id}>
    <slot />
</button>

<style>
	button {
		background-color: var(--secondary-color);
		color: var(--primary-color);
		border: none;
		padding: 1%;
		font-size: 1.5rem;
		border-radius: 10%;
		margin: 1%;
        font-family: 'sacramento', cursive;
	}
    button:hover {
        transform: perspective(2px) scale(1.1);
        transition: transform 0.2s;
        cursor: pointer;
    }
    button:active {
        transform: perspective(2px) scale(0.9);
        transition: transform 0.2s;
        cursor: pointer;
    }
</style>